<app-header 
[cartProducts]="this.cartProducts" 
(onSearch)="onSearch($event)">
</app-header>

<div class="main-section">
    <div class="bread-crumb">

        <h2>iPhone</h2>
        <p>Home / Products / Smart Phones / iPhone</p>
    </div>

    <div class="row">
        <div class="product-catgeory">

            <div class="check-list">
                <h4 class="check-list-title">Categories</h4>


                <div class="check-warpper" *ngFor="let category of categories">
                    <!-- <input type="checkbox" id="{{category}}" name="{{category}}" value="{{category}}">
                    <label for="{{category}}">{{category}}</label> -->

                    <input (change)="filterByCategory()" type="checkbox"
                    id="{{category}}" class="custom-control-input cat-check" >
                   <label id="{{category}}" 
                   class="custom-control-label" for="{{category}}">{{category}}</label>

                </div>

            </div>
        </div>

        <div class="products-list">

           
           <ng-container >

            <app-product-item  
            (onAddToCart)="addToCart($event)"
            *ngFor="let pro of filteredProducts | paginate: { itemsPerPage: 9, currentPage: pageNumber }"
             [product]="pro">
            
            </app-product-item>
           </ng-container>
        </div>
    </div>
<div class="row-pagination">
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

</div>

</div>