<div class="main-section">
    <div class="bread-crumb">

        <h2>iPhone</h2>
        <p>Home / Products / Smart Phones / iPhone</p>
    </div>


    <div class="row">
        <div class="product-catgeory">

            <div class="check-list">
                <h4 class="check-list-title">Categories</h4>


                <div class="check-warpper">
                    <input type="checkbox" id="ch-1" name="ch-1" value="Bike">
                    <label for="ch-1">Laptops (12)</label>
                </div>

                <div class="check-warpper">
                    <input type="checkbox" id="ch-2" name="ch-2" value="Bike">
                    <label for="ch-2"> Home decoration (4)</label>
                </div>

                <div class="check-warpper">
                    <input type="checkbox" id="ch-3" name="ch-3" value="Bike">
                    <label for="ch-3">Men’s shirts (2)</label>
                </div>
            </div>
        </div>

        <div class="products-list">

            <div class="product-card">
                <div class="product-img">
                    <span class="discount-badge">-12 %</span>
                    <img src="https://m.media-amazon.com/images/I/61lKQWyMdDL._AC_SX522_.jpg" alt="">
                </div>

                <div class="product-info">
                    <h4>
                        iPhone 9
                    </h4>
                    <p>An Apple mobile which is nothing like apple.</p>

                    <div class="price">
                        <span class="before"><strong>562</strong> USD</span>
                        <span class="after"><strong>500</strong> USD</span>
                    </div>

                    <div class="brand">
                        <p>Brand: <strong>Apple</strong></p>
                        <p>Category: <strong>Smart Phone</strong></p>
                        <p>in stock: <strong>86</strong></p>
                        
                    </div>

                    <div class="rate"></div>

                    <button>ADD TO CART</button>
                </div>
            </div>
            <div class="product-card">

            </div>
            <div class="product-card">

            </div>
            <div class="product-card">

            </div>
        </div>
    </div>


</div>