<header>
    <section class="container">
        <div class="content">

            <div id="logo">
                <div id="logotype">
                    <p>ClickTik</p>
                </div>

                <div class="logomark">
                    <div id="content">
                        <div id="blur">
                        </div>
                        <div class="dot">
                        </div>
                        <div id="grid">
                        </div>
                    </div>
                </div>
            </div>

            <ul class="navigation">
                <li>
                    <a href="/home">Home</a>
                </li>
            </ul>

       
        </div>
        <div class="navigation-action">
            <a href="/login">Login</a>
        </div>
    </section>

</header>














<!-- 
<div class="right-side">
    <div class="logo-wrapper">

        <div class="logo">
            <div class="blue-sky-dot"></div>
        </div>

        <div class="logo-label">
            ClickTik
        </div>
    </div>

    <ul>
        <li><a href="/home">Home</a></li>
    </ul>
</div>

<div class="left-side">
<p>peter</p>
</div> -->