<div class="login">
    <div class="content">

        <div class="header">

            <div class="logomark">
                <div id="content">
                    <div id="blur">
                    </div>
                    <div class="dot">
                    </div>
                    <div id="grid">
                    </div>
                </div>
            </div>

            <div class="text">

                <h2>Log in to your account</h2>
                <p>Welcome back! Please enter your details.</p>
            </div>

        </div>

        <div class="form-content">
            <form  >
                <div class="input-field">
                    <div class="input-file-base">
                        <label for="email">Email</label>
                        <input id="email" type="email">
                    </div>
                    <div class="input-file-base">
                        <label for="pssword">Password</label>
                        <input id="password" type="password">
                    </div>
                </div>

            </form>
        
            <div class="action">
                <button>Sign in</button>
            </div>
        </div>


    </div>
</div>