<div class="login">
    <div class="content">

        <div class="header">

            <div class="logomark">
                <div id="content">
                    <div id="blur">
                    </div>
                    <div class="dot">
                    </div>
                    <div id="grid">
                    </div>
                </div>
            </div>

            <div class="text">

                <h2>Log in to your account</h2>
                <p>Welcome back! Please enter your details.</p>
            </div>

        </div>

        <div class="form-content">
            <form  [formGroup]="loginForm" (ngSubmit)="login()" >
                <div class="input-field">
                    
                    <div class="input-file-base">
                       <h4>{{this.errorMessage}}</h4>
                    </div>


                    <div class="input-file-base">
                        <label for="username">UserName</label>
                        <input id="username" type="text" formControlName="username">
                    </div>


                    <div class="input-file-base">
                        <label for="pssword">Password</label>
                        <input id="password" type="password" formControlName="password">
                    </div>
                </div>
                <div class="action">
                    <button type="submit">Sign in</button>
                </div>
            </form>
        

        </div>


    </div>
</div>